<div class="w-full px-4 md:px-10 py-10">
  <!-- Category cards -->
  <div class="grid grid-cols-2 md:grid-cols-5 gap-x-32 gap-y-6 max-w-[1200px] mx-auto">
    @for (category of reversedCategories; track $index) {
      <div class="bg-[#FEEDF7] rounded-[1.5rem] p-[1rem] flex justify-center items-center mx-auto">
        <div class="bg-[var(--main-color)] p-[1.5rem] me-[1.5rem] ms-[.5rem] aspect-square w-[90px] rounded-[100%] grid place-items-center">
          <img [src]="category.image" class="text-white" [alt]="category.name" />
        </div>
        <div class="flex flex-col ms-[1rem]">
          <h1 class="text-[#160E4B] whitespace-nowrap">{{ category.name }}</h1>
          <h3 class="text-[#757F95] whitespace-nowrap">{{ category.productsCount }} items</h3>
        </div>
      </div>
    }
  </div>

 <div class="custom-carousel">
  <owl-carousel-o [options]="sliderOptions">
    <ng-template carouselSlide *ngFor="let img of sliderImages">
      <img src="/images/Background (5).png" alt="slider" class="carousel-img" />
    </ng-template>
  </owl-carousel-o>
</div>

</div>
